<h1>Report Here!</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@issue) do |f| %>

			<%= render 'shared/error_message', object: f.object %>
			
			<%= f.label :title %>
			<%= f.text_field :title, class: 'form-control' %>
			
			<%= f.label :description %>
			<%= f.text_field :description, class: 'form-control' %>

			<%= f.label :deadline %>
			<%= f.text_field :deadline, class: 'form-control' %>


 			<%= f.label :issue_type %>
		    <%= f.select(:issue_type, [["Bug", "Bug"], ["Feature", "Feature"]], {}, {class: "form-control" }) %>
    
			<%= f.label :status %>
    		<%= f.select(:status, [["New", "New"], ["Started", "Started"], ["Completed", "Completed"]], {}, {class: "form-control hidden feature-selecter" }) %>
			
    		<%= select_tag :status_bug, options_for_select([["New", "New"], ["Started", "Started"], ["Resolved", "Resolved"]]), class: "form-control bug-selecter"  %>
    		

    		<%= hidden_field_tag :project_id, "#{@project.id}" %>

    		<%= f.file_field :img %>
		
			<%= f.submit "Submit", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>

<%= link_to "Back", :back %>

<%= javascript_include_tag "custom" %>