<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h2>Assigned Employees to the Project</h2>

			<ul class="user">
				<table class="table">
				 	<thead class="thead-dark">
					 	<tr>
					    <th>Name</th>
					    <th>Email</th>
					    <th>Department</th>
					    <% if policy(Project).user_unassign? %>
					    <th></th>
					    <% end %>
					  </tr>
					</thead>
  				<% @users.each do |user| %>
						<tr>
						  <td><%= user.name %></td>
						  <td> <%= user.email %></td>
						  <td> <%= user.user_type %></td>
						  
						  <% if policy(Project).user_unassign? %>
						  <td>
						    <%= link_to "Unassign", user_unassign_project_path(user_id: user.id), method: "post", data: { confirm: "You sure?" } %></td>
						  <% end %>
						</tr>
					<% end %>
				</table>
				


			</ul>
		</div>
		<div class="col-md-6">

			<% if policy(Project).bugs? %>

			<h2><%= link_to "Project Issues", project_issues_path(@project.id) %></h2>

			<% end %>

			<% if policy(Project).add_resource? %>
				<h2>Assign Developer/QA to Project</h2>
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<%= form_tag(add_resource_project_path, method: 'post', id: 'search-form') do %>

							<div class="field">
							    <%= label_tag :email %><br />
							    <%= email_field_tag :email %>
							</div>

							<%= submit_tag "Add", class: "btn btn-primary" %>
						<% end %>
					</div>
				</div>
			<% end %>

		</div>
	</div>
</div>

<%= link_to "Back", :back %>

<% if false %>
			<% if policy(Project).assign_resource? %>
				<h2>Assign QA to Project</h2>
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<%= form_tag(assign_resource_path(project_id: @project.id), method: 'post', id: 'search-form') do %>

							<div class="field">
							    <%= label_tag :email %><br />
							    <%= email_field_tag :email%>
							</div>

							<%= submit_tag "Add", class: "btn btn-primary" %>
						<% end %>
					</div>
				</div>
			<% end %>
<% end %>